@font-face{
    font-family: 'Acid Grotesk';
    src: url('../../public/OTf/FFF-AcidGrotesk-Light-TRIAL.otf') format(opentype);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Acid Grotesk';
    src: url('../../public/OTF/FFF-AcidGrotesk-Medium-TRIAL.otf') format(opentype);
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Acid Grotesk';
    src: url('../../public/OTF/FFF-AcidGrotesk-Black-TRIAL.otf') format(opentype);
    font-weight: 700;
    font-style: normal;
}

:root{
    --black: #000;
    --white: #fff;
    --main-background-color: #001526;
    --warning: #FFA500;
    --light-warning: #FFBD43;
    --light-main-background: #1C3647;
    --header-light-background: #031C31;
    --header-light-stroke: #002747;
    --hover-hold: #007FFF;
    --light-grey: #F9F9F9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-family: 'Acid Grotesk', 'sans-serif';
}

.nix-main{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

}

.nix-flex-container-all-hero{
    position: relative;
    height: auto;
    background: var(--main-background-color);
    display: flex;
    left: 0;
    flex-direction: start;
    width: 100%;
    right: 0;
    z-index: 1;
}

.nix-main-float-right{
    position: absolute;
    top: 100px;
    display: flex;
    z-index: 99;
    right: 30px;
}

.nix-main-content-hero{
    position: relative;
    padding-top: 90px;
    height: 450px;
    padding-bottom: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.nix-main-float-right{
    position: absolute;
    display: flex;
    z-index: -1;
    right: 30px;
}


.min-auto-flex-hero{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;    
}

.min-nix-center{
    display: flex;
    height: calc(450px - 100px);
    align-items: center;
}


.min-auto-flex{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}



.nix-headers-container{
    height: 80px;
    top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    background: var(--header-light-background);   
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 999;
}

.nix-flex-lists{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nix-main-content{
    position: relative;
    padding-top: 90px;
    height: auto;
    padding-bottom: 0;
}



.nix-flex-container-all{
    position: relative;
    height: auto;
    background: var(--main-background-color);
}
.logo-icon{
    width: 100px;
    object-fit: contain;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: var(--white);
    display: flex;
    gap: 50px;
}

ul > .nix-li:hover{
    color: var(--hover-hold);
    cursor: pointer;
}
.nix-li{
    color: var(--white);
    text-decoration: none;
}
.active{
    color: var(--hover-hold);
}

.nix-border-outline-card{
    border: 1px solid var(--white);
    padding: 15px 30px;
    border-radius: 14px;
    cursor: pointer;
}

.nix-border-outline-card > span{
    color: var(--white);
    font-weight: 500;
}
.nix-flex-mobile-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:85px;
    background: var(--header-light-background);
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    height: calc(100vh - 110px);
}
.nix-mid-button{
    background: var(--header-light-background);
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border: 1px solid var(--header-light-stroke);
    border-radius: 8px;
    cursor: pointer;
}

.hero-main-image-cover{
    max-width: 100%;
    border-radius: 15px;
    border:3px solid var(--white);
}

.nix-phar-bottom{
    background: var(--main-background-color);
    border: 3px solid var(--white);
    padding: 14px 20px;
    position: relative;
    top: -30px;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    cursor: pointer;
}

.nix-scroll-wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.nix-card-overflow{
    display: flex;
    align-items: center;
    gap: 30px;
    width: max-content;
    animation: scrollLoop 20s linear infinite;
}

.nix-card-logos{
    flex-shrink: 0;
}

@keyframes scrollLoop {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-50%);
    }
}

.nix-scroll-wrapper::before,
.nix-scroll-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.nix-scroll-wrapper::before{
    left: 0;
    background: linear-gradient(to right, #031C31, transparent);
}

.nix-scroll-wrapper::after{
    right: 0;
    background: linear-gradient(to left, #031C31, transparent);
}

.footer-container{
    position: relative;
    height: auto;
    background: var(--main-background-color);
}
.nivexia_footer_hint_image{
    position: absolute;
    bottom: -100px;
}
.section-border{
    height: auto;
}
.auto-card-outline{
    display: flex;
    gap: 12px;
    border: 1px solid var(--black);
    width: 200px;
    padding: 12px;
    flex-wrap: nowrap;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nix-outer-container{
    width: 100%;
    border-radius: 12px;
    height: 200px;
    background: var(--hover-hold);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    z-index: 99;
    overflow: hidden;
}
.nix-inner-container{
   height: auto;
   background: var(--white);
   border: 1px solid var(--black);
   border-top-left-radius: 0px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: start;
}

.nix-float-left{
    position: absolute;
    bottom: -50px;
    left: 30px;
    z-index: 1;
}



.img-fluid-nix-x{
    max-width: 250px;
}

.nix-main-background{
    background: var(--main-background-color);
}

.nix-warning-background{
    background: var(--warning);
}
.nix-warning-color{
    color: var(--warning);
}

.nix-float-right{
    position: absolute;
    top: -50px;
    right: 20px;
    z-index: 1;
}

.background-grey{
    background: var(--light-grey);
}

.nix-float-right-mix{
    position: absolute;
    bottom: -10px;
    right: 20px;
    z-index: 1;
}

.card-row{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 10px;
}

.card-row::-webkit-scrollbar{
    display: none;
}

.card-list-x{
    flex-shrink: 0;
    flex-basis: 32%;
    background: white;
    border-radius: 20px;
    padding: 20px;
}

@media (max-width: 992px){
    .card-list-x{
        flex-basis: 48%;
    }
}

@media (max-width: 768px){
    .card-list-x{
        flex-basis: 85%;
    }
}


.card-list-x-pricing{
    flex-shrink: 0;
    max-width: 60%;
    text-wrap: wrap;
    background: var(--header-light-background);
    border-radius: 20px;
    padding: 20px;
    height: auto;
}
.card-pricing-header{
    height: 200px;
    background: var(--warning);
    padding: 20px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.card-pricing-header-main{
    height: 200px;
    background: var(--main-background-color);
    padding: 20px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.card-pricing-flower-left{
    position: absolute;
    z-index: -1;
    left: 30px;
}

.card-pricing-flower-right{
    position: relative;
    z-index: 1;
    right: 30px;
}



.nix-advert-card{
    background: var(--header-light-background);
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    padding: 40px;
    z-index: 1;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 3rem;
    position: relative;
}

.nix-advert-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(500px - 30px);
    position: relative;
}

.nix-advert-bottom-div{
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  display: flex;
  gap: 15px;
}

.min-flex-6{
    font-size: 12px;
}
.nix-pad-50{
    margin-top: 100px;
}

.nix-mini-button{
  background: #052540;
  border: 1px solid #09487C;
  padding: 10px 15px;
  border-radius: 12px;
  cursor: pointer;
}

.nix-action-button{
    background: #052540;
    border: 1px solid #09487C;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    border-radius: 12px;
    align-items: center;
}

.nix-action-content{
    background: #052540;
    border: 1px solid #09487C;
    width: 100%;
    display: flex;
    justify-content: start;
    border-radius: 12px;
    padding: 15px;
    min-height: 700px;
}



.nix-action-content-insurance{
    width: 100%;
    display: flex;
    justify-content: start;
    border-radius: 12px;
    align-items: center;
    margin-top: 12px;
}


.nix-mini-rounded{
    background: #052540;
    border: 1px solid #09487C;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .nix-mini-rounded-grey{
    background: #f1f1f1;
    border: 1px solid #eee;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

.float-layout{
    position: absolute;
    z-index: 2;
}

.img-fluid-contain{
    object-fit: contain;
    max-width: 100%;
    pointer-events: none;
}

.avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.nix-top-letters{
    display: flex;
    align-items: center;
    position: relative;
}
.nix-muted-text{
    color: #112638;
}

.transition-step div,
.transition-step span {
    transition: all 0.4s ease;
}

.nix-service-card{
    background: var(--white);
    min-height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 14px;
}

.nix-service-card-center{
    background: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 500px;
    padding: 15px;
    border-radius: 14px;
}
.max-center-action-card{
    background: var(--white);
    border-radius: 5px;
    border: 1px solid #eee;
    width: 100%;
    padding: 20px 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.max-center-action-card:hover{
    background: var(--main-background-color);
    color: var(--white);
}
.faq-container{
    padding: 40px 20px;
    height: auto;
    background: #031C31;
    border: 1px solid #002747;
    border-radius: 12px;
}
.faq-contents{
    padding-top: 30px;
}
.form-container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-control-x{
    width: 100%;
    outline: none;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #E2E2E2;

}
.call-border-card{
    height: auto;
    background: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
}
.action-main-button{
    border: none;
    padding: 15px 5px;
    width: 100%;
    border-radius: 12px;
    background: var(--main-background-color);
    color: var(--white);
}
input[type="date"],
input[type="datetime-local"]{
    cursor: pointer;
}

.booking-flex{
 width: 60%;
}

